.nav-bar{
    display: flex;
    justify-content: space-between;
    color: blueviolet;
}
.nav-bar a{
    text-decoration: none;
    color: blueviolet;
}
.nav-bar h1{
    margin: 0;
    /* padding: 0; */
    font-size: 6vh;
}
.nav-search{
    margin-top: 5px;
}
.nav-bar .nav-search input{
    margin: 0;
    /* padding: 0 7px; */
    padding: 0;
    border: 1px solid blueviolet;
    border-right: none;
    height: 7vh;
    color: blueviolet;
}
.nav-bar .nav-search button{
    margin: 0;
    border: 1px solid blueviolet;
    border-left: none;
    /* padding: 0 7px; */
    padding: 0;
    height:7vh;
}
.nav-bar ul{
    display: flex;
    /* text-decoration: none; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar ul li{
    text-decoration: none;
    padding-left: 15px;
    /* padding-top: 15px; */
}
.nav-bar ul li a{
    text-decoration: none;
    color: blueviolet;
}

.nav-bar .nav-search .suggested-products li{
    padding: 5px;
    color: blueviolet;
    border: 1px solid #ddd;
}


.nav-bar .nav-search .suggested-products{
    position: absolute;
    display: list-item;
    z-index: 10;
    background-color: #fff;
    width: 247px;
    border: 1px solid #ddd;
}