<nav class="nav-bar">
    <a routerLink="/"><h1>E-COMM</h1></a>
    <div class="nav-search" *ngIf="navBarType=='default'">
        <input type="text" placeholder="Search for Product">
        <button>Search</button>
    </div>
    <div [ngSwitch]="navBarType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/">Product List</a></li>
            <li><a routerLink="/seller-auth">Add Product</a></li>
            <li><a href="">Logout</a></li>
            <li><a href="">Cart(0)</a></li>
        </ul>
    </div>
</nav>