<ngb-carousel *ngIf="productsCarousel">
	<ng-template ngbSlide *ngFor="let prod of productsCarousel">
		<div class="picsum-img-wrapper">
			<img [src]="prod.prodImageUrl" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{prod.prodName}}</h3>
			<p>{{prod.prodDescription}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
	<h1>Trendy Products</h1>

	<!-- Bootstrap class Row add content in new line -->
	<div class="row">
		<div class="col-sm-3" *ngFor="let prod of prodList">
			<div class="product-item">
				<img src="{{prod.prodImageUrl}}" alt="">
				<div class="product-details">
					<h6 class="name-head">{{prod.prodName}}</h6>
					<div class="product-price">
						<h6>Price:{{prod.prodPrice}}</h6>
					</div>
					<div class="product-color">
						<h6>Color: {{prod.prodColor}}</h6>
					</div>
				</div>
				<div class="product-footer">
					<a href="">View Details</a>
					<a href="">Add To Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
